@rendermode InteractiveServer

<details style="background-color: darkgray; padding: 10px; border-radius: 10px; margin: 10px">
	<summary @onclick:stopPropagation="true">
		<input type="checkbox"
			   class="form-check-input"
			   id="include"
			   @bind="@Category.IsSelected"
			   style="width: 30px; height:30px;" />

		<input value="@Category.Name" @onchange="(e) => { Category.Name = (string)(e.Value ?? string.Empty); }" />
		(@Category.Metadata.Count Videos)

	</summary>

	<div style="display: flex; flex-direction: row; justify-content: flex-start; padding: 10px; gap: 40px; ">

		@if (Category.VideoStreams.Length > 1)
		{
			<div style="background-color: gray; border-radius: 10px; padding: 20px;" @onclick:stopPropagation="true">

				<h3>Video Info (@Category.VideoStreams.Length Tracks)</h3>

				@foreach (VideoStreamItem videoStream in Category.VideoStreams)
				{
					<div style="margin-left: 20px; border-left: 2px solid #ccc; padding: 10px; " class="@(videoStream.IsSelected ? "card selected" : "card unselected")" @onclick="(e) => { videoStream.IsSelected = !videoStream.IsSelected; Category.ApplyStreamSelection(); }" @onclick:stopPropagation="true">
						<h5>ID : @videoStream.ID</h5>
						<h5>Resolution : @videoStream.Width x @videoStream.Height (@videoStream.FrameRate fps)</h5>
						<h5>Codec : @videoStream.CodecName / @videoStream.Format</h5>
						<h5>Duration : @videoStream.Duration</h5>
					</div>
				}

			</div>
		}

		@if (Category.AudioStreams.Length > 0)
		{
			<div style="background-color: gray; border-radius: 10px; padding: 20px;" @onclick:stopPropagation="true">
				<details>
					<summary>
						<h3>Audio Info (@Category.AudioStreams.Length Tracks)</h3>
					</summary>

					@foreach (AudioStreamItem audioStream in Category.AudioStreams)
					{
						<Automatic_Bluray_Ripping.Components.Streams.AudioStream Stream="audioStream"  />
					}
				</details>
			</div>
		}


		@if (Category.SubtitleStreams.Length > 0)
		{
			<div style="background-color: gray; border-radius: 10px; padding: 20px;" @onclick:stopPropagation="true">

				<details>
					<summary>
						<h3>Subtitle Info (@Category.SubtitleStreams.Length Tracks)</h3>
					</summary>

					@foreach (SubtitleStreamItem subtitleStream in Category.SubtitleStreams)
					{
						<Automatic_Bluray_Ripping.Components.Streams.SubtitleStream Stream="@subtitleStream" />
					}
				</details>

			</div>
		}

		@if (Category.ChapterStreams.Length > 0)
		{
			<div style="background-color: gray; border-radius: 10px; padding: 20px;" @onclick:stopPropagation="true">

				<details>
					<summary>
						<h3>Chapter Info (@Category.ChapterStreams.Length Tracks)</h3>
					</summary>

					@foreach (ChapterStreamItem chapterStream in Category.ChapterStreams)
					{
						<div style="margin-left: 20px; border-left: 2px solid #ccc; padding-left: 10px; " class="@(chapterStream.IsSelected ? "card selected" : "card unselected")" @onclick="(e) => { chapterStream.IsSelected = !chapterStream.IsSelected; Category.ApplyStreamSelection(); }" @onclick:stopPropagation="true">

							<h5>ID : @chapterStream.ID</h5>
							<h5>Name : @chapterStream.Name</h5>
						</div>
					}
				</details>

			</div>
		}
	</div>


	<div>
		@foreach (var metadata in Category.Metadata)
		{
			<VideoFile Metadata="@metadata" />
		}
	</div>
</details>

@code {
	[Parameter]
	public VideoCategoryMetadata Category { get; set; } = new VideoCategoryMetadata("");

	protected override async Task OnInitializedAsync()
	{

	}

}
