@using Automatic_Bluray_Ripping.Components.Streams
@rendermode InteractiveServer

<details style="background-color: darkgray; padding: 10px; border-radius: 10px; margin: 10px">
	<summary @onclick:stopPropagation="true">
		<input type="checkbox"
			   class="form-check-input"
			   id="include"
			   @bind="@Category.IsSelected"
			   style="width: 30px; height:30px;" />

		<input value="@Category.Name" @onchange="(e) => { Category.Name = (string)(e.Value ?? string.Empty); }" />
		(@Category.Metadata.Count Videos)

	</summary>

	<div style="display: flex; flex-direction: row; justify-content: flex-start;padding: 10px; margin: 10px ">
		<h2>Naming Pattern : </h2>
		<input @bind="@Category.NamingPattern" style="width:90%;" />
	</div>

	<div style="display: flex; flex-direction: row; justify-content: flex-start; padding: 10px; gap: 40px; ">
		<TrackCategory CategoryType="Audio" Category="@Category"/>
		<TrackCategory CategoryType="Subtitle" Category="@Category"/>
		<TrackCategory CategoryType="Chapter" Category="@Category"/>
	</div> 

	<button style="width: 100%; margin: 10px;" @onclick="@ExecuteApplyAll">
		Apply to All
	</button>

	<div>
		@foreach (var metadata in Category.Metadata)
		{
			<VideoFile Metadata="@metadata" />
		}
	</div>
</details>

@code {
	[Parameter]
	public VideoCategoryMetadata Category { get; set; } = new VideoCategoryMetadata("");

	protected override async Task OnInitializedAsync()
	{

	}

	private void ExecuteApplyAll()
	{
		Category.ApplyOutputConfig();
		StateHasChanged();
	}
}
