@rendermode InteractiveServer
@using MediaInfo;
@using MediaInfo.Model;

<div style="margin: 10px; background-color: lightgreen;">
	<div>
		<h2>@Metadata.Name</h2>
		<p>@Metadata.FilePath</p>
	</div>

	<div>
		<img src="@ThumbnailBase64" alt="Video Thumbnail" style="width: 400px; height: auto; border-radius: 4px;" />
	</div>

	<h3>Video Info</h3>

	@foreach (VideoStreamItem videoStream in Metadata.VideoStreams)
	{
		<div style="margin-left: 20px; border-left: 2px solid #ccc; padding-left: 10px; background-color: aqua;">
			
			<h5>ID : @videoStream.ID</h5>
			<h5>Resolution : @videoStream.Width x @videoStream.Height</h5>
			<h5>Framerate : @videoStream.FrameRate fps</h5>
			<h5>Codec : @videoStream.CodecName / @videoStream.Format</h5>
		</div>
	}

	<h3>Audio Info</h3>

	@foreach (AudioStreamItem audioStream in Metadata.AudioStreams)
	{
		<div style="margin-left: 20px; border-left: 2px solid #ccc; padding-left: 10px; background-color: aqua;">
			
			<h5>ID : @audioStream.ID</h5>
			<h5>Format : @audioStream.Format</h5>
			<h5>Channels : @audioStream.Channels</h5>
			<h5>Language : @audioStream.Language</h5>
			<h5>Bitrate : @audioStream.Bitrate bps</h5>
		</div>
	}

	<h3>Subtitle Info</h3>

	@foreach (SubtitleStreamItem subtitleStream in Metadata.SubtitleStreams)
	{
		<div style="margin-left: 20px; border-left: 2px solid #ccc; padding-left: 10px; background-color: aqua;">

			<h5>ID : @subtitleStream.ID</h5>
			<h5>Format : @subtitleStream.Format</h5>
			<h5>Language : @subtitleStream.Language</h5>
		</div>
	}

	<h3>Chapter Info</h3>

	@foreach (ChapterStreamItem chapterStream in Metadata.ChapterStreams)
	{
		<div style="margin-left: 20px; border-left: 2px solid #ccc; padding-left: 10px; background-color: aqua;">

			<h5>ID : @chapterStream.ID</h5>
			<h5>Name : @chapterStream.Name</h5>
		</div>
	}

</div>

@code {

	[Parameter]
	public VideoMetadata Metadata { get; set; } = new VideoMetadata("");

	string ThumbnailBase64 = "images/placeholder.jpg";

	protected override async Task OnInitializedAsync()
	{
		ThumbnailBase64 = await Metadata.ExtractThumbnailToBase64Async();
	}
}
