@rendermode InteractiveServer
@using MediaInfo;
@using MediaInfo.Model;

<div style="margin: 10px; background-color: lightgreen;">
	<div>
		<h2>@Name</h2>
		<p>@FilePath</p>
	</div>

	<h3>Video Info</h3>

	@foreach (VideoStreamItem videoStream in VideoStreams)
	{
		<div style="margin-left: 20px; border-left: 2px solid #ccc; padding-left: 10px; background-color: aqua;">
			
			<h5>@videoStream.ID</h5>
			<h5>@videoStream.Resolution</h5>
			<h5>@videoStream.FrameRate</h5>
			<h5>@videoStream.VideoCodec</h5>
		</div>
	}

	<h3>Audio Info</h3>

	@foreach (AudioStreamItem audioStream in AudioStreams)
	{
		<div style="margin-left: 20px; border-left: 2px solid #ccc; padding-left: 10px; background-color: aqua;">
			
			<h5>ID : @audioStream.ID</h5>
			<h5>Format : @audioStream.Format</h5>
			<h5>Channels : @audioStream.Channels</h5>
			<h5>Language : @audioStream.Language</h5>
			<h5>Bitrate : @audioStream.Bitrate bps</h5>
		</div>
	}

	<h3>Subtitle Info</h3>

	@foreach (SubtitleStreamItem subtitleStream in SubtitleStreams)
	{
		<div style="margin-left: 20px; border-left: 2px solid #ccc; padding-left: 10px; background-color: aqua;">

			<h5>ID : @subtitleStream.ID</h5>
			<h5>Format : @subtitleStream.Format</h5>
			<h5>Language : @subtitleStream.Language</h5>
		</div>
	}

	<h3>Chapter Info</h3>

	@foreach (ChapterStreamItem chapterStream in ChapterStreams)
	{
		<div style="margin-left: 20px; border-left: 2px solid #ccc; padding-left: 10px; background-color: aqua;">

			<h5>ID : @chapterStream.ID</h5>
			<h5>Name : @chapterStream.Name</h5>
		</div>
	}

</div>

@code {

	[Parameter]
	public string FilePath { get; set; } = "";

	public string Name { get; set; } = "";

	public string Duration { get; set; } = "";

	VideoStreamItem[] VideoStreams = [];
	AudioStreamItem[] AudioStreams = [];
	SubtitleStreamItem[] SubtitleStreams = [];
	ChapterStreamItem[] ChapterStreams = [];

	protected override async Task OnInitializedAsync()
	{
		//Parse the info and populate

		MediaInfoWrapper mediaFile = new MediaInfoWrapper(FilePath);

		Name = Path.GetFileName(FilePath);
		Duration = $"{TimeSpan.FromMilliseconds(mediaFile.Duration):hh\\:mm\\:ss}";

		List<VideoStreamItem> videoStreams = new List<VideoStreamItem>();

		foreach (var video in mediaFile.VideoStreams)
		{
			VideoStreamItem stream = new VideoStreamItem();
			stream.ID = video.Id;
			stream.Resolution = $"Resolution: {video.Width}x{video.Height}";
			stream.FrameRate = $"Framerate: {video.FrameRate}";
			stream.VideoCodec = $"Codec: {video.CodecName} / {video.Format}";
			videoStreams.Add(stream);
		}

		List<AudioStreamItem> audioStreams = new List<AudioStreamItem>();

		foreach (var audio in mediaFile.AudioStreams)
		{
			AudioStreamItem item = new AudioStreamItem();
			item.ID = audio.Id;
			item.Format = $"{audio.CodecFriendly} - {audio.Name}";
			item.Channels = audio.Channel;
			item.Language = audio.Language;
			item.Bitrate = audio.Bitrate;
			audioStreams.Add(item);
		}

		List<SubtitleStreamItem> subtitleStreams = new List<SubtitleStreamItem>();

		foreach (var subtitle in mediaFile.Subtitles)
		{
			SubtitleStreamItem item = new SubtitleStreamItem();
			item.ID = subtitle.Id;
			item.Format = subtitle.Format;
			item.Language = subtitle.Language;
			subtitleStreams.Add(item);
		}

		List<ChapterStreamItem> chapterStreams = new List<ChapterStreamItem>();

		foreach (var chapter in mediaFile.Chapters)
		{
			ChapterStreamItem item = new ChapterStreamItem();

			item.ID = chapter.Id;
			item.Name = chapter.Name;
			chapterStreams.Add(item);
		}


		VideoStreams = videoStreams.ToArray();
		AudioStreams = audioStreams.ToArray();
		SubtitleStreams = subtitleStreams.ToArray();
		ChapterStreams = chapterStreams.ToArray();
	}

	public class VideoStreamItem
	{
		public int ID { get; set; } = 0;
		public string Resolution { get; set; } = "";
		public string FrameRate { get; set; } = "";
		public string VideoCodec { get; set; } = "";
	}

	public class AudioStreamItem
	{
		public int ID { get; set; } = 0;
		public string Format { get; set; } = "";
		public int Channels { get; set; } = 0;
		public string Language { get; set; } = "";
		public double Bitrate { get; set; } = 0;
	}

	public class SubtitleStreamItem
	{
		public int ID { get; set; } = 0;
		public string Format { get; set; } = "";
		public string Language { get; set; } = "";
	}

	public class ChapterStreamItem
	{
		public int ID { get; set; } = 0;
		public string Name { get; set; } = "";
		public string Format { get; set; } = "";
		public string Language { get; set; } = "";
	}
}
