@rendermode InteractiveServer
@using MediaInfo;
@using MediaInfo.Model;

<div style="margin: 10px; background-color: lightgreen;">

	<div style="display: flex; flex-direction: row; justify-content: flex-start; padding: 10px">

		<div>
			<img src="@ThumbnailBase64" alt="Video Thumbnail" style="width: 400px; height: auto; border-radius: 4px;" />
		</div>

		<div style="margin: 10px;">
			<h2>@Metadata.Name</h2>

			@if (Metadata.VideoStreams.Length == 1)
			{
				<h5>Resolution : @Metadata.VideoStreams[0].Width x @Metadata.VideoStreams[0].Height (@Metadata.VideoStreams[0].FrameRate fps)</h5>
				<h5>Codec : @Metadata.VideoStreams[0].CodecName / @Metadata.VideoStreams[0].Format</h5>
				<h5>Duration : @Metadata.VideoStreams[0].Duration</h5>
			}

			<p>@Metadata.FilePath</p>
		</div>
	</div>

	@if (Metadata.VideoStreams.Length > 1)
	{
		<h3>Video Info</h3>

		@foreach (VideoStreamItem videoStream in Metadata.VideoStreams)
		{
			<div style="margin-left: 20px; border-left: 2px solid #ccc; padding-left: 10px; background-color: aqua;">

				<h5>ID : @videoStream.ID</h5>
				<h5>Resolution : @videoStream.Width x @videoStream.Height (@videoStream.FrameRate fps)</h5>
				<h5>Codec : @videoStream.CodecName / @videoStream.Format</h5>
				<h5>Duration : @videoStream.Duration</h5>

			</div>
		}
	}

	@if (Metadata.AudioStreams.Length > 1)
	{
		<details>
			<summary>
				<h3>Audio Info (@Metadata.AudioStreams.Length Tracks)</h3>
			</summary>

			@foreach (AudioStreamItem audioStream in Metadata.AudioStreams)
			{
				<div style="margin-left: 20px; border-left: 2px solid #ccc; padding-left: 10px; background-color: aqua;">

					<h5>ID : @audioStream.ID</h5>
					<h5>Format : @audioStream.Format</h5>
					<h5>Channels : @audioStream.Channels</h5>
					<h5>Language : @audioStream.Language</h5>
					<h5>Bitrate : @audioStream.Bitrate bps</h5>
				</div>
			}
		</details>
	}

	@if (Metadata.SubtitleStreams.Length > 1)
	{
		<details>
			<summary>
				<h3>Subtitle Info (@Metadata.SubtitleStreams.Length Tracks)</h3>
			</summary>

			@foreach (SubtitleStreamItem subtitleStream in Metadata.SubtitleStreams)
			{
				<div style="margin-left: 20px; border-left: 2px solid #ccc; padding-left: 10px; background-color: aqua;">

					<h5>ID : @subtitleStream.ID</h5>
					<h5>Format : @subtitleStream.Format</h5>
					<h5>Language : @subtitleStream.Language</h5>
				</div>
			}
		</details>
	}

	@if (Metadata.ChapterStreams.Length > 1)
	{
		<details>
			<summary>
				<h3>Chapter Info (@Metadata.ChapterStreams.Length Tracks)</h3>
			</summary>

			@foreach (ChapterStreamItem chapterStream in Metadata.ChapterStreams)
			{
				<div style="margin-left: 20px; border-left: 2px solid #ccc; padding-left: 10px; background-color: aqua;">

					<h5>ID : @chapterStream.ID</h5>
					<h5>Name : @chapterStream.Name</h5>
				</div>
			}
		</details>
	}

</div>

@code {

	[Parameter]
	public VideoMetadata Metadata { get; set; } = new VideoMetadata("");

	string ThumbnailBase64 = "images/placeholder.jpg";

	protected override async Task OnInitializedAsync()
	{
		ThumbnailBase64 = await Metadata.ExtractThumbnailToBase64Async();
	}
}
