@page "/"
@rendermode InteractiveServer
@using MediaInfo;
@using MediaInfo.Model;

<PageTitle>Home</PageTitle>

<div class="form-check m-3">
	<input type="checkbox"
		   class="form-check-input"
		   id="useVideo"
		   checked="@UseVideo"
		   @onchange="(e) => { UseVideo = (bool)(e.Value ?? false); RecomputeCategories(e); }" />
	<label class="form-check-label" for="useVideo">Include Video Streams</label>
</div>

<div class="form-check m-3">
	<input type="checkbox"
		   class="form-check-input"
		   id="useAudio"
		   checked="@UseAudio"
		   @onchange="(e) => { UseAudio = (bool)(e.Value ?? false); RecomputeCategories(e); }" />
	<label class="form-check-label" for="useAudio">Include Audio Streams</label>
</div>

<div class="form-check m-3">
	<input type="checkbox"
		   class="form-check-input"
		   id="useSubtitle"
		   checked="@UseSubtitles"
		   @onchange="(e) => { UseSubtitles = (bool)(e.Value ?? false); RecomputeCategories(e); }" />
	<label class="form-check-label" for="useSubtitle">Include Subtitle Streams</label>
</div>

<div class="form-check m-3">
	<input type="checkbox"
		   class="form-check-input"
		   id="useChapters"
		   checked="@UseChapters"
		   @onchange="(e) => { UseChapters = (bool)(e.Value ?? false); RecomputeCategories(e); }" />
	<label class="form-check-label" for="useChapters">Include Chapter Streams</label>
</div>

@foreach (var category in VideoCategories.Keys)
{
	<details>
		<summary>
			Videos : @VideoCategories[category].Count (Category : @category)
		</summary>

		<div style="background-color: red;">

			@foreach (var metadata in VideoCategories[category])
			{
				<VideoFile Metadata="@metadata" />
			}

		</div>

	</details>
}


@code {

	string exeDir = Path.GetDirectoryName(Environment.ProcessPath);

	private const string BDMV = "BDMV";
	private const string STREAM = "STREAM";

	private string directoryPath = "Blurays";

	private string mkvDir = @"D:\NanoDNA Studios\Development\Automatic-Bluray-Ripping\Automatic-Bluray-Ripping\bin\Debug\net8.0\Blurays\Fairy_Tail_Extract";
	private string mkvFile = @"D:\NanoDNA Studios\Development\Automatic-Bluray-Ripping\Automatic-Bluray-Ripping\bin\Debug\net8.0\Blurays\Fairy_Tail_Extract\FairyTail Part15 Disc 2_t02.mkv";

	private string[] MKVFiles = [];

	private VideoMetadata[] Metadata;

	private Dictionary<string, List<VideoMetadata>> VideoCategories = new Dictionary<string, List<VideoMetadata>>();

	private bool UseVideo = true;
	private bool UseAudio = true;
	private bool UseSubtitles = true;
	private bool UseChapters = true;

	protected override async Task OnInitializedAsync()
	{
		Console.WriteLine("Starting Program...");
		Console.WriteLine(exeDir);

		VideoCategories = new Dictionary<string, List<VideoMetadata>>();
		Metadata = GetVideoMetadata(mkvDir);

		ComputeCategories();

		directoryPath = Path.Combine(exeDir, directoryPath);

		if (!Directory.Exists(directoryPath))
		{
			Console.WriteLine("Directory Doesn't Exist");
			return;
		}

		string[] dirs = Directory.EnumerateDirectories(directoryPath).ToArray();

		foreach (string dir in dirs)
		{
			Console.WriteLine($"Exploring Directory {dir}...");

			if (!IsBlurayBackup(dir))
			{
				//Just read the Files / find all video files? (Search for .mkv only?)
				Console.WriteLine("The Directory is not a Bluray");
				continue;
			}

			Console.WriteLine($"The Directory {dir} is a Bluray");

			// foreach (string file in GetAllBlurayVideoFiles(GetBlurayStreamDir(dir)))
			// {
			// 	DisplayMediaInfo(file);
			// }

			// foreach (string file in GetAllMKVFiles(mkvDir))
			// {
			// 	DisplayMediaInfo(file);
			// }
			//DisplayMediaInfo(mkvFile);
		}
	}

	private void RecomputeCategories(ChangeEventArgs e)
	{
		ComputeCategories();
	}


	private void ComputeCategories()
	{
		Console.WriteLine("Computing");
		Dictionary<string, List<VideoMetadata>> videoCategories = new Dictionary<string, List<VideoMetadata>>();

		foreach (VideoMetadata metadata in Metadata)
		{
			//Add buttons that control the bools
			string signature = metadata.GetSignature(UseVideo, UseAudio, UseSubtitles, UseChapters);

			Console.WriteLine(signature);

			if (!videoCategories.ContainsKey(signature))
				videoCategories.Add(signature, new List<VideoMetadata>());

			videoCategories[signature].Add(metadata);
		}

		VideoCategories = videoCategories;

	}

	private bool IsBlurayBackup(string basePath)
	{
		string fullPath = basePath;
		string[] dirs;

		if (!Directory.Exists(fullPath))
			return false;

		dirs = Directory.GetDirectories(fullPath);

		if (!dirs.Contains(Path.Combine(fullPath, BDMV)))
		{
			Console.WriteLine("No BDMV Folder");
			return false;
		}

		fullPath = Path.Combine(fullPath, BDMV);

		if (!Directory.Exists(fullPath))
			return false;

		dirs = Directory.GetDirectories(fullPath);

		if (!dirs.Contains(Path.Combine(fullPath, STREAM)))
		{
			Console.WriteLine("No STREAM Folder");
			return false;
		}

		return true;
	}

	private string GetBlurayStreamDir(string basePath)
	{
		return Path.Combine(basePath, BDMV, STREAM);
	}

	private string[] GetAllBlurayVideoFiles(string streamPath)
	{
		const string extension = "*.m2ts";

		return Directory.GetFiles(streamPath, extension);
	}

	private string[] GetAllMKVFiles(string mkvDir)
	{
		const string extension = "*.mkv";

		return Directory.GetFiles(mkvDir, extension);
	}

	private VideoMetadata[] GetVideoMetadata(string path)
	{
		List<VideoMetadata> metadata = new List<VideoMetadata>();
		string[] MKVFiles = GetAllMKVFiles(mkvDir);


		foreach (string mkvFile in MKVFiles)
		{
			metadata.Add(new VideoMetadata(mkvFile));
		}

		return metadata.ToArray();
	}

	private void DisplayMediaInfo(string filePath)
	{
		Console.WriteLine($"Analyzing File : {filePath}");

		try
		{

			MediaInfoWrapper mediaFile = new MediaInfoWrapper(filePath);

			// 1. General Container Metadata
			Console.WriteLine($"Size: {mediaFile.Size} bytes");
			Console.WriteLine($"Duration: {TimeSpan.FromMilliseconds(mediaFile.Duration):hh\\:mm\\:ss}");
			Console.WriteLine($"Total Bitrate: {mediaFile.VideoRate} bps");

			// 2. Video Track Details
			foreach (var video in mediaFile.VideoStreams)
			{
				Console.WriteLine($"[Video Track #{video.Id}]");
				Console.WriteLine($"  Codec: {video.CodecName} / {video.Format}");
				Console.WriteLine($"  Profile: {video.CodecProfile}");
				Console.WriteLine($"  Resolution: {video.Width}x{video.Height}");
				Console.WriteLine($"  Framerate: {video.FrameRate} FPS");
				Console.WriteLine($"  Bitrate: {video.Bitrate} bps");
			}

			// 3. Audio Track Details
			foreach (var audio in mediaFile.AudioStreams)
			{
				Console.WriteLine($"[Audio Track #{audio.Id} ({audio.Name})]");
				Console.WriteLine($"  Format: {audio.Format} ({audio.CodecName}, {audio.CodecFriendly})");
				Console.WriteLine($"  Channels: {audio.Channel} ({audio.StreamPosition})");
				Console.WriteLine($"  Language: {audio.Language} ({audio.LanguageIetf})");
				Console.WriteLine($"  Bitrate: {audio.Bitrate} bps");


			}

			// 4. Subtitle Track Details
			foreach (var subtitle in mediaFile.Subtitles)
			{
				Console.WriteLine($"[Subtitle Track #{subtitle.Id} ({subtitle.Name})]");
				Console.WriteLine($"  Format: {subtitle.Format}");
				Console.WriteLine($"  Language: {subtitle.Language} ({subtitle.LanguageIetf})");
				Console.WriteLine($"  Default: {subtitle.Default}");
			}
		}
		catch (Exception ex)
		{
			Console.WriteLine($"Error reading metadata for {Path.GetFileName(filePath)}: {ex.Message}");
		}

		Console.WriteLine("Done Analyzing... \n\n");
	}





}
