@page "/makemkv"
@rendermode InteractiveServer
@inject MakeMKVManager MKVManager

@if (MKVManager.IsScanning)
{
	<div style="display: flex; flex-direction: column; align-items: center; justify-content: center; padding: 40px;">
		<div class="spinner"></div>
		<p style="margin-top: 15px; font-weight: 500; color: #555;">Scanning hardware...</p>
	</div>
}

@if (!MKVManager.IsScanning)
{
	<div style="font-size:x-large">
		<button @onclick="@ScanBackups">
			Scan Backups
		</button>
		<button @onclick="@MakeMKVs">
			Make MKVs
		</button>
	</div>
}

<h3>MakeMKV</h3>

<div style="display: flex; flex-direction: column; justify-content: flex-start; gap:10px;">
	@foreach (OpticalDiscBackup backup in MKVManager.DiscBackups)
	{
		<div style="display: flex; flex-direction: column; justify-content: center; width:fit-content; background-color: gray; border-radius: 10px; padding: 10px">

			<div>
				<h2>
					@backup.Name
				</h2>
				<p>
					@backup.DirPath
				</p>
			</div>

			<div style="display: flex; flex-direction: row; align-items: center; justify-content: center; width:100%; font-size: large; gap: 10px">
				All Files Progress:
				<progress style="flex-grow: 1" value="@backup.GlobalProgress" max="1" />
			</div>

			@foreach (MKVFile file in backup.Files)
			{
				<div style="padding: 10px; border-radius:10px;" class="@(file.IsSelected ? "mkv-card selected" : "mkv-card unselected")" @onclick="(e) => { file.ToggleSelection(); }" @onclick:stopPropagation="true">
					<h2>(@file.ID) - @file.Name</h2>
					<h4>Duration : @file.Duration</h4>
					<h4>Size : @file.Size</h4>
					<h4>Chapter(s) : @file.Chapters</h4>

					<div style="display: flex; flex-direction: row; align-items: center; justify-content: center; width:100%; font-size: large; gap: 10px">
						File Progress:
						<progress style="flex-grow: 1" value="@file.Progress" max="1" />
					</div>
				</div>
			}
		</div>
	}
</div>


@code {

	protected override void OnInitialized()
	{
		MKVManager.OnProgressUpdated += UpdateProgress;
	}

	private async Task ScanBackups()
	{
		await MKVManager.ScanForBackups();
	}

	private async Task MakeMKVs()
	{
		await MKVManager.MakeAllMKVs();
	}

	public void Dispose()
	{
		Console.WriteLine("Dispose MKV");
		MKVManager.OnProgressUpdated -= UpdateProgress;
	}

	private void UpdateProgress()
	{
		InvokeAsync(StateHasChanged);
	}
}
