@page "/transcode"
@using System.Diagnostics
@rendermode InteractiveServer
@inject TranscodeQueueService QueueService

<PageTitle>Transcode</PageTitle>

<h3>Transcode</h3>

<progress value="@CurrentProgressPercent" max="100" style="width: 100%; height: 25px;"></progress>

@foreach (var job in QueueService.GetJobs())
{
	<div style="display: flex; flex-direction: row; justify-content: flex-start; padding: 10px; border-radius: 10px; background-color: gray;">

		<div>
			<img src="@job.ThumbnailBase64" alt="Video Thumbnail" style="width: 400px; height: auto; border-radius: 4px;" />
		</div>

		<div style="padding: 10px;">

			<h3>@job.Name</h3>
			<h5>@job.InputFilePath</h5>
			<h5>@job.OutputFilePath</h5>
			<p>@job.GetFullArgument()</p>
			<progress value="@job.Progress" max="100" style="width: 100%; height: 25px;"></progress>
		</div>
	</div>
}

@code {

	private double CurrentProgressPercent = 0;

	protected override void OnInitialized()
	{
		CurrentProgressPercent = QueueService.CurrentProgressPercent;

		// Wire up event notifications to pull structural processing mutations down
		QueueService.OnProgressUpdated += HandleProgressUpdate;
		QueueService.OnQueueChanged += HandleQueueRefresh;
	}

	private void HandleProgressUpdate(double progress)
	{
		InvokeAsync(() =>
		{
			CurrentProgressPercent = progress;
			StateHasChanged();
		});
	}

	private void HandleQueueRefresh()
	{
		InvokeAsync(StateHasChanged);
	}

	public void Dispose()
	{
		// Clean up subscriptions to protect memory
		QueueService.OnProgressUpdated -= HandleProgressUpdate;
		QueueService.OnQueueChanged -= HandleQueueRefresh;
	}

}
